services:
  zulu-pro-app:
    image: ${DOCKER_IMAGE}
    container_name: zulu-pro-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
